{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dash" style="background-color: #90EE90; align-items: center;">
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard. You can <a href="{% url 'edit' %}">edit
        your profile</a> or <a href="{% url 'password_change' %}">change your
        password</a>.</p>

</div>
<footer style="margin-top: 30%; background-color: #90EE90;">
    {% if request.user.is_authenticated %} 
        <a href="{% url 'password_change' %}">Change password</a>
    {% endif %}
</footer>
{% endblock %}